.Rproj.user
.Rhistory
*.RData
.Ruserdata
.Rapp.history
.DS_Store
.snakemake
.cache
.nv
.bash_history
.local
.ipython
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
models/*
star_solo/*
velocity_solo/*
cellranger/*
cellbender/*
cellbender_velocyto/*
scrublet/*
piscem_spliceu/*
fastq/*
3M-february-2018.txt
*.sif
*.h5
*.h5Seurat
*.h5seurat
*.h5ad
*.mtx
*.rds
*.tar
*.gz


/.quarto/
